* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  min-height: 100vh;
  background: radial-gradient(circle at top, #1f2933, #020617);
  color: #ffffff;
  padding: 30px;
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  color: #f97316;
  margin-bottom: 6px;
}

.search-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 40px;
  position: relative;
}

.search-section input {
  padding: 12px;
  width: 260px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.search-section button {
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #f97316;
  font-weight: 600;
}

#gpsBtn {
  background: transparent;
  border: 1px solid #f97316;
  color: #f97316;
}

.suggestions {
  position: absolute;
  top: 46px;
  left: calc(50% - 130px);
  width: 260px;
  background: #020617;
  border-radius: 10px;
  max-height: 180px;
  overflow-y: auto;
  display: none;
  z-index: 10;
}

.suggestions div {
  padding: 10px;
  cursor: pointer;
  color: #d1d5db;
}

.suggestions div:hover {
  background: #111827;
  color: #f97316;
}

.weather-section {
  max-width: 720px;
  margin: auto;
  background: #020617;
  padding: 30px;
  border-radius: 22px;
}

.weather-section h2 {
  text-align: center;
  color: #fb923c;
  margin-bottom: 10px;
}

.temperature {
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 6px;
}

#condition {
  text-align: center;
  color: #d1d5db;
  margin-bottom: 30px;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.detail {
  background: #111827;
  padding: 18px;
  border-radius: 16px;
  text-align: center;
}

.detail span {
  font-size: 13px;
  color: #9ca3af;
}

.detail strong {
  display: block;
  margin-top: 6px;
  font-size: 18px;
}

.status {
  margin-top: 20px;
  text-align: center;
  color: #9ca3af;
}
